* {
  box-sizing: border-box;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "gyate", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  @media (max-width: 350px) {
    width: fit-content;
  }
  flex: 1;
  background: linear-gradient(
    117deg,
    rgba(220, 220, 220, 1) 5%,
    rgba(255, 255, 255, 1) 100%
  );
}

.logo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "azuki","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", Arial, sans-serif;
  font-size: 50px;
  z-index: 0;
  letter-spacing: 1px;

  
}

@font-face {
  font-family: 'azuki'; /* フォント名 */
  src: url('../src/assets/azuki.ttf') format('truetype');
}
@font-face {
  font-family: 'mochy'; /* フォント名 */
  src: url('../src/assets/MochiyPopOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'maru401'; /* フォント名 */
  src: url('../src/assets/maru401.ttf') format('truetype');
}
@font-face {
  font-family: 'gyate'; /* フォント名 */
  src: url('../src/assets/Gyate-Luminescence.ttf') format('truetype');
}