* {
  box-sizing: border-box;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  background: linear-gradient(
    117deg,
    rgba(220, 220, 220, 1) 5%,
    rgba(255, 255, 255, 1) 100%
  );
}

.logo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 5px;
  z-index: 0;
  letter-spacing: 1px;
}
